<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <h1>Listing Bookmarks</h1>

      <table class="table table-hover ">
        <thead>
          <tr>
            <th>Url</th>
            <th>Title</th>
            <th>Slug</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @bookmarks.each do |bookmark| %>
            <tr>
              <td><%= link_to bookmark.url, "http://" + bookmark.url %></td>
              <td> <%= image_tag bookmark.image if bookmark.image %></td>
              <td><%= bookmark.title %></td>
              <td>
                <div class="input-group">
                  <%= text_field_tag "", visit_url(bookmark.slug), id: "bookmark-#{bookmark.id}", class: 'form-control' %>
                  <span class="input-group-btn">
                    <%= button_tag class: 'btn btn-default btn-clipboard', data: {"clipboard-target": "#bookmark-#{bookmark.id}"} do %>
                      <i class="fa fa-clipboard" aria-hidden="true"></i>
                    <% end %>
                  </span>
                </div>
              </td>

              <td><%= link_to 'Show', bookmark %></td>
              <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
              <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Bookmark', new_bookmark_path %>

    </div>
  </div>
</div>
